{{ if ne .Params.toc "false" }}
<aside class="aside-pane left-pane">
    <header>
        <h2>
            <hr>
            <span>TAGS</span>
            <i class="fas fa-tags"></i>
        </h2>
    </header>
    <ul class="tag-list">
        {{ if .Params.tags }}
        <li>
            {{ range $index, $tag := .Params.tags }}
            <!--{{ if gt $index 0 }}{{ end }}-->
            <a href="{{ " tags/ " | relURL }}{{ . | urlize }}">{{ . }}</a>
            <br> {{ end }}
        </li>
        {{ end }}
    </ul>
</aside>
{{ end }}
