<aside class="sidebar left-sidebar">

    <section  class="article-tag-list">
        {{ partial "article-tag-list.html" . }}
    </section>
    
    <section class="pinned-article-list">
        {{ partial "pinned-article-list.html" . }}
    </section>

    <section class="updated-article-list">
        {{ partial "updated-article-list.html" . }}
    </section>

    <section class="animating-container">
        <section class="related-article-list">
            {{ partial "related-article-list.html" . }}
        </section>

        <section class="sidebar-menu">
            {{ partial "sidebar-menu.html" . }}
        </section>
    </section>

</aside>
