<nav class="nav">

    <!--
        Left part:
        1. Logo 
        2. My name
    -->

    <a class="nav-left" href="{{ .Site.BaseURL }}">
        <img class="nav-logo" src="{{ .Site.BaseURL }}/images/{{ .Site.Params.logo.url }}">
        <h1 class="nav-title">MUDOX</h1>
    </a>

    <!--
        Right part:
        1. Main men
    -->

    <ul class="nav-right">
        {{ range .Site.Menus.main }}
        <li>
            <a href="{{ .URL }}">
                {{ .Pre }}
                <span>{{ upper .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
