.error-page {
    &-title {
        text-align: center;
    }

    &-content {
        text-align: center;

        a {
            transition: color 600ms;
            text-decoration: none;
            color: inherit;

            &:hover {
                color: #ccc;
            }
        }
    }
}
