.article-list {
    header {
        h1, h2 {
            padding-bottom: 10px;
            text-align: center;
        }
    }

    ul {
        line-height: 1.3em;
        margin: 0;
        padding: 0;

        li {
            margin: 0 0 20px;
            padding: 0;
            list-style: none;

            a {
                // text
                color: #222;
                white-space: nowrap;

                // underline
                padding: 0 0 6px;
                border-bottom: 1px solid #ddd;
                transition: border-color 300ms;
                text-decoration: none;
                text-overflow: ellipsis;

                &:hover {
                    border-color: #222;
                }
            }

            time {
                color: #ccc;
            }
        }
    }
}

.al-justified {
    a {
        display: inline-block;
    }

    time {
        float: right;
    }
}

.al-centered {
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        text-align: center;
    }

    time {
        text-align: center;
        padding: 0 {
            top: 0.2em;
        };
    }
}
