code {

    // color
    color: black;
    background: #f0f0f0;

    // box
    margin: 0;
    padding: 0;
}

// inline code
code {
    // box
    border-radius: 3px;
    padding: 1px 3px;

    // position
    position: relative;
    bottom: 1px;

    // box
    padding: 1px 2px 1px;
}

pre {
    // box
    padding: 8px 12px;
    overflow-x: auto;

    li & {
        margin-left: 0;
    }

    // color
    background: #202020;

    code {
        // color
        color: white;
        background: transparent;

        // let containing <pre> do spacing
        margin: 0;
        padding: 0;
    }
}

p code {}

.embded-media-box,
pre {
    // box
    border-radius: 0;

    @extend %article-inset-box;
}

