/*
Note:
- Use `rem` for sont-sizeing.
- Use bare number for line-height.
- Only set font-family, font-size, line-height here. Set relative positioning
if it is tight coupled with font-size.
 */

// Basic

html {
    font-family: $serif;
    font-size: .85rem;
    line-height: 1;
}

strong {
    font-size: 104%;
}

// Article

.article {
    font-size: 1rem;
    line-height: 1.2;

    &-title {
        font-size: 3rem;
    }

    &-date {
        font-size: 1.05rem;
    }

    &-summary {
        line-height: 1.8;
    }

    li {
        line-height: 1.8;
    }
}

// Code

pre {
    line-height: 1.4;

    code {
        font-family: 'Roboto Mono', monospace;
        font-size: .9rem;
    }
}

code {
    font-family: 'Roboto Mono', monospace;
    font-size: .80rem;
}

// Table

table {
    font-size: .9rem;
    line-height: 1.5;
}

// Sidebar

@media (min-width: $mediaMinWidth) {
    .sidebar {
        font-family: $sans;
        font-size: .9rem;
        line-height: 1.4;

        h2 {
            font-size: inherit;
        }

        li {
            line-height: 1.15;
        }
    }
}

// Article list

.article-list, .tag-terms {
    header {
        h1 {
            font-size: 3rem;
        }

        h2 {
            font-size: 2rem;
        }

        li time {
            font-size: .9rem;
        }
    }
}

.article-list {
    ul li {
        a {
            font-size: 1.4rem;
        }

        time {
            font-size: 1rem;
        }
    }
}

// Pagination Control

.page-links {
    font-size: 1.2rem;
}

// Frame header & footer

.frame-header {
    .top-navbar-right {
        font-family: $sans;
        font-size: 13px;
    }
}

.frame-footer {
    font-size: .8rem;
}

// 404

.error-page {
    &-title {
        font-size: 76px;
    }
}
