// Basic

html {
    font-family: Merriweather, serif;
    font-size: .8rem;
    line-height: 1;
}

strong {
    font-size: 104%;
}

// Article

.article {
    font-size: 1rem;
    line-height: 1.2;

    &-title {
        font-size: 3rem;
    }

    &-date {
        font-size: 1.05rem;
    }

    &-summary {
        line-height: 1.8;
    }

    &-body {
        //font-size: 1.1rem;

    }

    li {
        line-height: 1.8;
    }
}

// Code

pre code {
    font-family: 'Roboto Mono', monospace;
    font-size: .9rem;
    line-height: 1.7;
}

p code {
    font-size: .9rem;
}
