/*
    Note:
        Use `rem` for sont-sizeing.
        Use bare number for line-height.
*/

// Basic

html {
    font-family: Merriweather, serif;
    font-size: .8rem;
    line-height: 1;
}

strong {
    font-size: 104%;
}

// Article

.article {
    font-size: 1rem;
    line-height: 1.2;

    &-title {
        font-size: 3rem;
    }

    &-date {
        font-size: 1.05rem;
    }

    &-summary {
        line-height: 1.8;
    }

    &-body {
        //font-size: 1.1rem;
   
    }

    li {
        line-height: 1.8;
    }
}

// Code

code {
    p & {
        font-family: 'Roboto Mono', monospace;
        font-size: .9rem;
    }

    pre & {
        font-family: 'Roboto Mono', monospace;
        font-size: .9rem;
        line-height: 1.8;
    }
}

// Table

table {
    font-size: .9rem;
    line-height: 1.5;
}

// Sidebar

@media (min-width: $media-min-width) {
    .sidebar {
        font-size: .9rem;
        line-height: 1.4;

        h2 {
            font-size: 1.05rem;
        }

        li {
            font-size: .9rem;
            line-height: 1.15;
        }
    }
}
