.frame-footer {
    box-sizing: border-box;
    padding: 1em 0 0; // push site notes line down.
    text-align: center;
    color: $site-grey;

    a {
        margin: 0 3px;
        transition: color 300ms;
        text-decoration: none;
        color: $a-grey;

        &:hover {
            color: $a-hover-grey;
        }
    }
}
