@media (min-width: $media-min-width) {
    body > div.frame {
        display: flex;
        flex-direction: column;

        header.frame-header {
            order: 1;
        }

        footer.frame-footer {
            order: 3;
        }

        div.main-frame {
            order: 2;
        }
    }

    body > div.frame > div.main-frame {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .sidebar {
            max-width: 30ex;
        }

        aside.left-sidebar {
            flex: 2;
            order: 1;
            margin: 0 {
                left: auto;
                right: 1em;
            };
        }

        aside.right-sidebar {
            flex: 2;
            order: 3;
            margin: 0 {
                left: 1em;
                right: auto;
            };
        }

        main.content {
            flex {
                shrink: 0;
                grow: 0;
            }

            order: 2;
            box-sizing: content-box;
            max-width: 700px;
            min-width: 600px;
            margin: 0 {
                top: 4em;
                bottom: 4em;
            };
        }
    }
}
