$sidebar-spacing: 8px;

@media (min-width: $media-min-width) {
    body > div.frame {
        display: flex;
        flex-direction: column;

        .frame-header {
            order: 1;
        }

        .frame-footer {
            order: 3;
        }

        .main-frame {
            order: 2;
        }
    }

    body > .div.frame > div.main-frame {
        dfisplay: flex;
        flex-direction: row;

        aside.left-sidebar {
            flex: 2;
            order: 1;
        }

        aside.right-sidebar {
            flex: 1;
            order: 3;
        }

        main.content {
            flex: 2;
            order: 2;
            max-width: 700px;
            min-width: 600px;
        }
    }
}
