@media (min-width: $media-min-width) {
    .frame {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        .frame-header {
            order: 1;

            flex {
                shrink: 0;
                grow: 0;
            }
        }

        .frame-footer {
            order: 3;

            flex {
                shrink: 0;
                grow: 0;
            }

            margin: 0 {
                top: auto;
            }
        }

        .main-frame {
            order: 2;

            flex {
                shrink: 0;
                grow: 4;
            }
        }
    }

    .main-frame {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .sidebar {
            max-width: 15rem;
        }

        .left-sidebar {
            flex: 2;
            order: 1;
            margin: 0 {
                left: auto;
                right: 1em;
            };
        }

        .right-sidebar {
            flex: 2;
            order: 3;
            margin: 0 {
                left: 1em;
                right: auto;
            };
        }

        main.content {
            flex {
                shrink: 0;
                grow: 0;
            }

            order: 2;
            max-width: 700px;
            min-width: 600px;
            margin: 0 {
                top: 4em;
                bottom: 4em;
            };
        }
    }
}
