body {
    overflow-wrap: break-word;
}

ol,
ul {
    margin: 0;
    padding: 0 0 0 1.4rem;
}

strong,
em {
    color: #000;
}

strong {
    font-size: 104%;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
}

blockquote.article-summary {
    padding: .8rem;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
}

.article-body h1:after {
    background-color: #aaa;
}

.article-body h1 {
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    border-bottom: thin solid #ccc;
}

.article-body h2 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

blockquote {
    margin: 20px;
    padding-left: 10px;
    border-left: 5px solid #ccc;
    background: #f5f5f5;
}

.content {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.article-title {
    font-size: 34px;
    line-height: 1.3;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #222;
}

.article-date {
    font-size: 16px;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #ccc;
}

.article-body {
    a {
        padding-bottom: 2px;
        text-decoration: none;
        color: inherit;
        border-bottom: thin dashed #ad810cb5;

        :hover,
        :active {
            border-bottom: medium solid #ad810cb5;
        }
    }

    p {
        margin: 1rem 0;
    }

    hr {
        width: 350px;
        height: 1px;
        margin: 25px auto;
        border: none;
        border-top: 1px dashed #8c8b8b;
        overflow: hidden;
    }
}

.article-taxonomy {
    font-size: 14px;
    padding-left: 0;
    list-style: none;
    text-align: left;
    color: #404040;
}

.article-taxonomy hr {
    width: 200px;
    height: 1px;
    margin: 5px 0 10px;
    border: none;
    background: #e8e8e8;
}

.article-taxonomy a {
    display: inline-block;
    margin: 0 10px 0 0;
    transition: color 300ms;
    text-decoration: none;
    color: inherit;
}

.article-taxonomy a:hover,
.article-taxonomy a:active {
    color: #ccc;
}

.article-image-large {
    padding: 2px;
    transition: opacity 1s;
    opacity: 1;
    border: solid 1px #e6e6e6;
}

.article-image-large:hover,
.article-image-large:active {
    opacity: .5;
}

.page-links {
    font-size: 16px;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}

.page-links li {
    display: inline-block;
}

.page-links a {
    padding: 0 5px;
    transition: color 300ms;
    text-decoration: none;
    color: #555;
}

.page-links a:hover {
    color: #ccc;
}

.page-links-active a,
.page-links-disabled a {
    text-decoration: none;
    color: #ccc;
}

.error-page-title {
    font-size: 76px;
    text-align: center;
}

.error-page-content {
    text-align: center;
}

.error-page-content a {
    transition: color 600ms;
    text-decoration: none;
    color: inherit;
}

.error-page-content a:hover,
.error-page-content a:active {
    color: #ccc;
}

.github-buttons span {
    position: relative;
    top: 6px;
}

.github-repo-description {
    font-size: .8rem;
    padding-top: 2px;
}

a.github-repo-title {
    font-size: .8rem;
    padding: 2px 6px 2px 8px;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    border-bottom: none;
    border-radius: 3px;
    background-color: #666;
    text-ailgn: center;
}

a.github-repo-title:hover {
    border-bottom: none;
}

div.github-buttons {
    margin: 1.4rem 0 .5rem 0;
}

@media (min-width: $media-min-width) {
    .frame {
        font-family: Merriweather, serif;
        font-size: 1.1rem;
        line-height: 1rem;
    }

    .article-title {
        font-size: 42px;
    }

    .article-date {
        font-size: .8rem;
        margin-top: 1rem;
    }

    .article-taxonomy {
        font-size: 17px;
    }

    .page-links {
        font-size: 19px;
    }

    .error-page-title {
        font-size: 114px;
    }
}
