body {
    overflow-wrap: break-word;
}

ol,
ul {
    margin: 0;
    padding: 0 0 0 1.4rem;
}

strong,
em {
    color: black;
}

html,
body {
    position: relative;
    margin: 0;
    padding: 0;
}

body {
    -webkit-hyphens: auto;
    hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: black;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

blockquote {
    @extend %article-inset-box;

    padding: 1px 1em;
    border-left: 5px solid $site-grey;
    background: #f5f5f5;
}

.content {
    color: $content-grey;
}

.github-buttons span {
    position: relative;
    top: 6px;
}

.github-repo-description {
    font-size: .8rem;
    padding-top: 2px;
}

a.github-repo-title {
    font-size: .8rem;
    padding: 2px 6px 2px 8px;
    vertical-align: top;
    text-decoration: none;
    color: #fff;
    border-bottom: none;
    border-radius: 3px;
    background-color: #666;
    text-ailgn: center;
}

a.github-repo-title:hover {
    border-bottom: none;
}

div.github-buttons {
    margin: 1.4rem 0 .5rem 0;
}
