$sidebar-spacing: 0.7em;

/*sidebar {{{*/

@media (min-width: $media-min-width) {
    .left-sidebar {
        @extend .sidebar;
    }

    .right-sidebar {
        @extend .sidebar;
    }

    // sticky
    .sidebar {
        position: relative;

        .sidebar-content-frame {
            position: sticky;
            top: 4em;
            margin-top: 4em;
        }
    }

    .sidebar-content-frame {
        // box
        padding: 0 $sidebar-spacing;
        max-height: 85vh;

        // scroll bar
        overflow-y: hidden;

        .sidebar:hover {
            overflow-y: auto;
        }
    }

    .sidebar {
        header h2 span {
            padding: 0 4px;
        }

        section {
            margin: 0 0 35px 0;
        }

        h2 {
            font-size: 12px;
            margin-bottom: 5px;
        }

        li {
            margin-top: 6px;
            line-height: 13px;
            font-size: 11px;
            list-style: none;
        }

        a {
            transition: border-color, color 300ms;
            text-decoration: none;
            color: #aaa;
            border-bottom: none;

            .current,
            .hover, .active {
                color: #666;
                border-bottom: thin solid #606060;
            }
        }

        nav > ul {
            margin: 0;
            padding: 0;
        }
    }

    .sidebar nav {
        margin: 12px 0 0;
    }
}

/*}}}*/

/*left-sidebar {{{*/

@media (min-width: $media-min-width) {
    .left-sidebar {
        text-align: right;
    }

    .left-sidebar nav > ul {
        padding-right: 0;
    }

    .left-sidebar .sidebar-menu {
        display: none;
    }
}

/*}}}*/

/*right-sidebar {{{*/

@media (min-width: $media-min-width) {
    .right-sidebar {
        text-align: left;
    }

    .right-sidebar ul {
        margin: 0;
        padding: 0 0 0 .6rem;
    }
}

/*}}}*/
