/*sidebar {{{*/

@media (min-width: $mediaMinWidth) {
    .sidebar section {
        margin: 0 {
            bottom: 2.6em;
        };

        h2 {
            margin-bottom: 0;

            span {
                text-transform: capitalize;
            }
        }

        li {
            margin-top: .6em;
            list-style: none;

            a {
                color: $anchorGrey + #222;

                // animated underline
                text-decoration: none;
                border-bottom: none;
                transition: border-color, color 300ms;

                &.current,
                &:hover {
                    color: $anchorGreyHover;
                    border-bottom: thin solid #606060;
                }
            }
        }

        // No indent for 1st level `li`
        nav > ul {
            margin: 0;
            padding: 0;
        }
    }

    .sidebar nav {
        margin: 12px 0 0;
    }
}

/*}}}*/

/*left-sidebar {{{*/

@media (min-width: $mediaMinWidth) {
    .left-sidebar {
        text-align: right;

        nav > ul {
            padding-right: 0;
        }

        .sidebar-menu {
            display: none;
        }
    }
}

/*}}}*/

/*right-sidebar {{{*/

@media (min-width: $mediaMinWidth) {
    .right-sidebar {
        text-align: left;

        ul {
            margin: 0;
            padding: 0 0 0 .6rem;
        }
    }
}

/*}}}*/
