$cell-x-padding: 1em;

table {
    text-align: center;
    vertical-align: top;

    // box
    @extend %article-inset-box;

    padding: 0;

    code {
        border-radius: 0;
        background-color: inherit;
    }

    th,
    td {
        margin: 0;
    }

    th {
        // padding
        padding: 0.7em $cell-x-padding;

        // color
        color: white;
        background-color: #666;
    }

    td {
        padding: 0.3em $cell-x-padding;
    }

    tbody tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    tbody tr:hover {
        background-color: #ddd;
    }
}
