.tag-terms {
    header h2 {
        font-size: 32px;
        padding-bottom: 10px;
        text-align: center;
    }

    ul {
        margin: 0;
        padding: 0;
        text-align: center;

        li {
            display: inline-block;
            list-style: none;
            padding: 0 15px 15px 0;

            a {
                text-decoration: none;
                font-weight: bold;
                color: #222;
                transition: color 300ms;

                &:hover {
                    color: #ccc;
                }
            }
        }
    }
}
