// Layout

$mediaMinWidth: 900px;
$mainWidth: 700px;
$columnGap: 15px;
$sidebarTop: 96px;

// Colors

$logoBlue: #083e75;
$logoBrown: #bd8c74;
$siteGrey: #ccc;

$anchorGrey: #666;
$anchorGreyHover: #222;

$contentGrey: #555;

// Fonts

// Use fixed font families
$serif: Merriweather, serif;
$sans: Lato, sans-serif;
$monospace: Roboto, monospace;

// Use navtive fonts
//$serif: serif;
//$sans: sans-serif;
//$monospace: monospace;
