// Layout

$mediaMinWidth: 900px;
$mainWidth: 700px;

// Colors

$logoBlue: #083e75;
$logoBrown: #bd8c74;
$siteGrey: #ccc;

$anchorGrey: #666;
$anchorGreyHover: #222;

$contentGrey: #555;

// Fonts

$mainSerif: Merriweather, serif;
$mainSans: Lato, sans-serif;
$mainMonospace: Roboto, monospace;

