$media-min-width: 600px;

@media (min-width: $media-min-width) {
    $main-max-width: 700px;
    $main-min-width: 600px;
}

%article-inset-box {
    box-sizing: border-box;
    margin: 1.6em 1.2em 1.6em 0.7em;
    width: calc(100% - 1.2em - 0.7em);
}

@import "main";

@import "frame";
@import "sidebar";
@import "header";
@import "footer";

@import "article";
@import "article-list";

@import "code";
@import "table";
@import "tag";

@import "home";

@import "fonts";
