%article-inset-box {
    box-sizing: border-box;
    margin: 1.6em 1.2em 1.6em 0.7em;
    width: calc(100% - 1.2em - 0.7em);
}

@import "variables";

@import "fonts";
@import "main";

// Basic layouts
@import "frame";

// Pages
@import "home";
@import "tag-terms";
@import "404";

// Page areas
@import "article";
@import "sidebar";
@import "header";
@import "footer";

// Page widgets
@import "article-list";
@import "code";
@import "table";
@import "pagination";
@import "icons";
