{{ partial "header.html" . }}

<main class="content">

    <div class="article-list">
        {{ range (.Paginate (.Data.Pages.GroupByDate "2006 Jan")).PageGroups }}
        <section>
            <!--Title & count-->
            <header>
                <h2>
                    {{ .Key }}
                    <!--<br>-->
                    <!--<span>{{ .Pages | len }}</span>-->
                </h2>
            </header>

            <!--List-->
            <ul>
                {{ range .Pages.ByDate.Reverse }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <time>{{ .Date.Format "2006-01-02, Mon" }}</time>
                </li>
                {{ end }}
            </ul>
        </section>

        {{ end }}
    </div>

    {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}
