{{ partial "header.html" . }}

<main class="content" role="main">
    <article class="article">

        <!--Left pane-->
        <!--Show tag list if any-->
        {{ partial "left-pane.html" . }}

        <!--Right pane-->
        <!--Show TOC if front matter `toc` not equal to `false`-->
        {{ partial "right-pane.html" . }}

        <!--Taxonomy list-->
        <!--{{ partial "taxonomy.html" . }}-->
        <!--<br>-->

        <!--Title-->
        <h1 class="article-title">{{ .Title }}</h1>

        <!--Date-->
        {{ if eq .Section "post" }}
        <time>
            <span class="article-date">
                {{ .Lastmod.Format "Updated: 2006-01-02"}}
            </span>
        </time>
        {{ end }}

        <!--Article content-->
        {{ with .Description }}
        <blockquote class='article-summary'>{{ . }}</blockquote>
        {{ end }}

        <div class="article-content">
            {{ .Content }}
        </div>

    </article>
</main>

{{ partial "footer.html" . }}
