{{ define "main" }}

<main class="content" role="main">

    <article class="article-list al-centered">

        <header>
            <h1>{{ .Title }}</h1>
        </header>

        <ul>
            {{ range .Paginator.Pages }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                    <time>{{ .Date.Format "2006-01-02, Mon" }}</time>
                </li>
            {{ end }}
        </ul>
    </article>

    {{ partial "pagination.html" . }}

</main>

{{ end }}
