{{ partial "header.html" . }}

<main class="content" role="main">

    <article class="list tag-article-list">

        <header>
            <h2 class="list-title tag-article-list-title">{{ .Title }}</h2>
        </header>

        <ul class="tag-article-list-body">
            <li class="list-item">
                {{ range .Paginator.Pages }}
                    {{ partial "tag-article-list-item.html" . }}
                {{ end }}
            </li>
        </ul>
    </article>

    {{ partial "pagination.html" . }}

</main>

{{ partial "footer.html" . }}
