html,
body {
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  font-family: 'Merriweather', serif;
  -webkit-hyphens: auto;
  hyphens: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
  color: #222;
}

.article-summary {
  padding: 0.8rem;
}

.article-content h1:after {
  background-color: #aaa;
}

.article-content h1 {
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  border-bottom: thin solid #cccccc;
}

.article-content h2 {
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
  font-size: 15px;
}

code {
  border-radius: 3px;
  padding: 1px 3px;
  background: #f0f0f0;
  -webkit-hyphens: none;
  hyphens: none;
}

pre {
  overflow-x: auto;
  padding: 8px 12px;
  border-radius: 3px;
  background: #202020;
  color: #d0d0d0;
}

pre code {
  padding: initial;
  background: transparent;
}

a:hover,
a:active {
  outline: none;
  background-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 5px solid #ccc;
  background: #f5f5f5;
  margin: 20px;
  padding-left: 10px;
}

.wrapper {
  overflow: hidden;
  position: relative;
}

.header {
  padding: 20px 0;
  position: relative;
  background: #f5f5f5;
  border-bottom: 1px solid #eaeaea;
}

.content {
  display: block;
  min-height: calc(100vh - 60px);
  max-width: 700px;
  margin: 60px auto 80px;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1.7;
  color: #555;
}

.article-title {
  font-size: 34px;

  width: 100%;
  margin: 0 auto;

  text-align: center;
  color: #222;
  line-height: 1.3;
}

.article-date {
  font-size: 16px;
  font-family: 'Merriweather', serif;

  display: block;
  width: 100%;
  margin: 0 auto;

  text-align: center;
  color: #ccc;
}

.article-content p {
  margin: 1rem 0;
}

.article-content a {
  text-decoration: none;
  color: inherit;
  padding-bottom: 2px;
  border-bottom: thin dashed #ad810cb5;
}

.article-content a:hover,
.article-content a:active {
  border-bottom: medium solid #ad810cb5;
}

.article-content hr {
  width: 150px;
  margin: 50px auto;
  height: 1px;
  overflow: hidden;
  border: none;
  background: #e8e8e8;
}

.article-taxonomy {
  list-style: none;
  padding-left: 0;
  font-family: 'Merriweather', serif;
  color: #404040;
  font-size: 14px;
  text-align: left;
}

.article-taxonomy hr {
  width: 200px;
  margin: 5px 0 10px;
  height: 1px;
  border: none;
  background: #e8e8e8;
}

.article-taxonomy a {
  display: inline-block;
  margin: 0 10px 0 0;
  text-decoration: none;
  color: inherit;
  transition: color 300ms;
}

.article-taxonomy a:hover,
.article-taxonomy a:active {
  color: #ccc;
}

.article-image-large {
  padding: 2px;
  border: solid 1px #e6e6e6;
  opacity: 1;
  transition: opacity 1s;
}

.article-image-large:hover,
.article-image-large:active {
  opacity: 0.5;
}

.list-item {
  margin: 0 0 20px;
  padding: 0;
}

.list-item-date {
  display: block;
  padding: 4px 0;
  font-family: 'Merriweather', serif;
  color: #ccc;
  font-size: 14px;
}

.list-item a {
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 0;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #222;
  border-bottom: 1px solid #ddd;
  transition: border-color 300ms;
}

.list-item a:hover {
  border-color: #222;
}

.footer {
  height: 40px;
  margin: 30px 0 0 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.footer-links {
  list-style: none;
  margin: 0;
  padding: 0;
  color: #ccc;
  font-size: 10px;
}

.footer-links li {
  margin: 0;
  padding: 0;
  display: inline-block;
}

.footer-links a {
  color: #888;
  text-decoration: none;
  transition: color 300ms;
  margin: 0 3px;
}

.footer-links a:hover {
  color: #222;
}

.footer-links li::before {
  content: '•';
  padding: 0 18px;
}

.footer-links li:first-child::before {
  display: none;
}

.page-links {
  margin: 25px 0;
  padding: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 16px;
}

.page-links li {
  display: inline-block;
}

.page-links a {
  text-decoration: none;
  padding: 0 5px;
  color: #555;
  transition: color 300ms;
}

.page-links a:hover {
  color: #ccc;
}

.page-links-active a,
.page-links-disabled a {
  text-decoration: none;
  color: #ccc;
}

.error-page-title {
  text-align: center;
  font-size: 76px;
}

.error-page-content {
  text-align: center;
}

.error-page-content a {
  text-decoration: none;
  color: inherit;
  transition: color 600ms;
}

.error-page-content a:hover,
.error-page-content a:active {
  color: #ccc;
}

.github-buttons span {
  position: relative;
  top: 6px;
}

.github-repo-description {
  padding-top: 2px;
  font-size: 0.8rem;
}

a.github-repo-title {
  font-size: 0.8rem;

  background-color: #666;
  color: #fff;

  text-decoration: none;
  text-ailgn: center;
  vertical-align: top;

  border-bottom: none;
  border-radius: 3px;

  padding: 2px 6px 2px 8px;
}

a.github-repo-title:hover {
  border-bottom: none;
}

div.github-buttons {
  margin: 1.4rem 0 0.5rem 0;
}

@media (min-width: 600px) {
  code {
    position: relative;
    bottom: 1px;
    padding: 2px 4px;
    font-size: 0.8rem;
  }

  pre code {
    padding: 0;
    font-size: 0.7rem;
  }

  pre {
    margin: 0 6px;
    line-height: 1.2rem;
    box-shadow: 4px 4px 5px 0px rgba(0, 0, 0, 0.5);
  }

  .header {
    padding: 25px 0;
  }

  .content {
    font-size: 15px;
    line-height: 1.8;
    margin: 50px auto;
  }

  .article-title {
    font-size: 42px;
  }

  .article-date {
    font-size: 19px;
  }

  .article-taxonomy {
    font-size: 17px;
  }

  .list-title {
    text-align: center;
  }

  .list-title .count {
    text-align: center;
    position: relative;
    bottom: 5px;

    padding: 2px 7px 2px 6px;
    font-size: 0.4em;
    color: white;
    background-color: #ccc;
    border-radius: 3px;
  }

  .list-item a {
    padding: 5px 0;
    font-size: 21px;
  }

  .list-item-date {
    padding: 5px 0;
    font-size: 17px;
    text-align: right;
    float: right;
  }


  .footer-links {
    font-size: 0.8rem;
  }

  .footer-links a {
    margin: 0 3px;
  }

  .page-links {
    font-size: 19px;
  }

  .error-page-title {
    font-size: 114px;
  }
}
