/* vim: set fdm:marker:*/

/*nav {{{*/

.nav
{
    /*font-family: 'Merriweather', serif;*/
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;

    list-style: none;

    text-align: right;
}

.nav li
{
    display: inline-block;
}

/*}}}*/

/*nav-left {{{*/

.nav-left
{
    position: relative;
    bottom: 14px;

    display: flex;
    float: left;
    align-items: center;

    margin: 0;
    padding: 0;

    text-decoration: none;
}

.nav-left img
{
    position: relative;
    bottom: 1px;

    width: auto;
    max-height: 45px;

    border: 1px solid white;
    border-radius: 100px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, .5);
}

.nav-left li
{
    margin: 0 5px 0 0;
    padding: 0;
}

.nav-left h1
{
    margin: 0 18px 0;
    padding: 0;
    transition: content 300ms;
}

.nav-left  h1 {
  content: "HOME";
}

/*}}}*/

/*nav-right {{{*/

.nav-right
{
    margin: 0;
    padding: 0;
}

.nav-right li
{
    display: inline-block;

    margin: 0 0 0 10px;
}

.nav-right li:first-child
{
    margin-left: 0;
}

.nav-right a
{
    margin-right: 2px;

    text-decoration: none;

    color: #444;
}

.nav-right a:hover
{
    color: #111;
}

.nav-right span
{
    font-size: 13px;
}

.nav-right i
{
    font-size: 15px;

    position: relative;
    top: 1px;
}

@media (min-width: 600px)
{
    .nav-right li
    {
        margin-left: 12px;
    }
}

/*}}}*/
