/*aside-pane {{{*/

@media (min-width: 600px) {
  .aside-pane {
    padding: 0 8px;
    position: fixed;
    top: 0;

    overflow-y: hidden;

    width: calc(50vw - 350px - 70px);
    max-width: calc(50vw - 350px - 70px);
    height: 70%;
    margin: 128px 0 50px 0;
  }

  .aside-pane:hover {
    overflow-y: auto;
  }

  .aside-pane li {
    font-size: .75rem;

    list-style: none;
  }

  .aside-pane h2 {
    font-size: .8rem;

    margin-bottom: 5px;
  }

  .aside-pane header h2 span {
    padding: 0 4px;
  }

  .aside-pane a {
    padding-bottom: 1.8px;

    transition: border-color, color 300ms;
    text-decoration: none;

    color: #aaa;
    border-bottom: none;
  }

  .aside-pane a:hover,
  .aside-pane a.current,
  .aside-pane a:active {
    color: #666;
    border-bottom: thin solid #606060;
  }

  .aside-pane section {
    margin: 0 0 35px 0;
  }

}

/*}}}*/

/*left-pane {{{*/

@media (min-width: 600px) {
  .left-pane {
    left: 20px;

    text-align: right;
  }

  .left-pane>ul {
    padding-right: 0;
  }

  .pane-nav h2:hover {
    color: #666;
  }

  .pane-tag-list {
    margin: 0;
  }

  .left-pane section ul {
    margin: 0;
  }

  .pane-nav {
    /*hide initially*/
    display: none;
  }
}

/*}}}*/

/*right-pane {{{*/

@media (min-width: 600px) {
  .right-pane {
    right: 20px;

    text-align: left;
  }

  .right-pane>nav>ul {
    margin: 0;
    padding-left: 0;
  }

  .right-pane>ul {
    padding-left: 0;
  }

  .right-pane>nav>ul ul {
    margin: 0;
    padding-left: .7rem;
  }
}

/*}}}*/
