@media (min-width: 600px) {

  .right-pane {
    position: fixed;
    right: 20px;
    top: 128px;
    max-width: 400px;
    min-width: 200px;
    height: 70%;
    overflow-y: hidden;
    background-color:#FFF;
  }

  .right-pane:hover {
    overflow-y: auto;
  }

  .right-pane li a {
    color: #aaa;
  }

  .right-pane li a:hover {
    color: inherit;
  }

  .right-pane li {
    font-size: 0.75rem;
    list-style: none;
  }

  .right-pane > nav > ul {
    margin: 0;
    padding-left: 0.3rem;
  }

  .right-pane > nav > ul ul {
    margin: 0;
    padding-left: 0.7rem;
  }

  .right-pane header h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }

  .right-pane a {
    text-decoration: none;
    color: inherit;
    padding-bottom: 1.8px;
    border-bottom: none;
    transition: border-color, color 600ms;
  }

  .right-pane a:hover,
  .right-pane a:active {
    border-bottom: thin solid #606060;
  }

}

@media (max-width: 600px) {
  .right-pane {
    display: none;
  }
}
