/*sidebar {{{*/

@media (min-width: 600px) {
  .sidebar {
    padding: 0 8px;
    position: fixed;
    top: 0;

    overflow-y: hidden;

    /*
     * 350px: the `max-width` of .content element.
     * 70px: spacing between sidebar and main content area.
     */
    width: calc(50vw - 350px - 70px);
    max-width: calc(50vw - 350px - 70px);
    height: 85%;
    margin: 128px 0 50px 0;
  }

  .sidebar:hover {
    overflow-y: auto;
  }

  .sidebar li {
    margin-top: 6px;
    line-height: 13px;
    font-size: 11px;
    list-style: none;
  }

  .sidebar h2 {
    font-size: 12px;

    margin-bottom: 5px;
  }

  .sidebar header h2 span {
    padding: 0 4px;
  }

  .sidebar a {
    transition: border-color, color 300ms;
    text-decoration: none;

    color: #aaa;
    border-bottom: none;
  }

  .sidebar a:hover,
  .sidebar a.current,
  .sidebar a:active {
    color: #666;
    border-bottom: thin solid #606060;
  }

  .sidebar section {
    margin: 0 0 35px 0;
  }

  .sidebar nav {
    margin: 12px 0 0;
  }

}

/*}}}*/

/*left-sidebar {{{*/

@media (min-width: 600px) {
  .left-sidebar {
    left: 20px;

    text-align: right;
  }

  .left-sidebar nav>ul {
    padding-right: 0;
  }
}

/*}}}*/

/*right-sidebar {{{*/

@media (min-width: 600px) {
  .right-sidebar {
    right: 20px;

    text-align: left;
  }

  .right-sidebar>nav>ul {
    margin: 0;
    padding: 0;
  }

  .right-sidebar ul {
    margin: 0;
    padding: 0 0 0 .6rem;
  }
}

/*}}}*/
