.tag-terms-body {
  margin: 0;
  padding: 0;

  text-align: center;
}

.tag-terms-body li {
  display: inline-block;
  list-style: none;
  padding: 0 15px 15px 0;
}

.tag-terms-body a {
  text-decoration: none;
  font-family: 'Merriweather', serif;
  font-weight: bold;
  color: #222;
  transition: color 300ms;
}

.tag-terms-body a:hover,
.tag-terms-body a:active,
{
  color: #ccc;
}
