$media-min-width: 600px;

$box-margin-left: 10px;
$box-margin-right: 6px;

@media (min-width: $media-min-width) {
    %inset-box {
        box-sizing: border-box;
        margin: 0 10px 0 6px;
        width: calc(100% - 16px);
    }
}

@import "top-navbar";
@import "sidebar";

@import "list";
@import "code";
@import "table";
@import "tag";

@import "home";

@import "main";

