$box-margin-left: 10px;
$box-margin-right: 6px;

@media (min-width: 700px) {
    %inset-box {
        box-sizing: border-box;
        margin: 0 10px 0 6px;
        width: calc(100% - 16px);
    }
}

@import "code";
@import "table";
@import "sidebar";
@import "tag";
@import "top-navbar";
