{{ define "main" }}

    <aside class="left-sidebar">
        {{ partial "left-sidebar.html" . }}
    </aside>

    <aside class="right-sidebar">
        {{ partial "right-sidebar.html" . }}
    </aside>

    <main class="content" role="main">
        <article class="article">

            <!--Title-->
            <h1 class="article-title">{{ .Title }}</h1>

            <!--Date-->
            {{ if eq .Section "post" }}
                <time>
                    <span class="article-date">
                        {{ .Date.Format "Updated: 2006-01-02" }}
                    </span>
                </time>
            {{ end }}

            <!--Summary-->
            {{ with .Description }}
                <blockquote class='article-summary'>{{ . }}</blockquote>
            {{ end }}

            <!--Body-->
            <div class="article-body">
                {{ .Content }}
            </div>

        </article>
    </main>

{{ end }}
